

#header {
background-color: black;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 8em;
		line-height: 8em;
		width: 100%;
		z-index: 10000;
}
#headerx nav{
display:none;
}

#main-info{
margin-left:1em
margin-right:1em;
}






.first_menu {
  margin-left:4.5vw;
  margin-right:0.9vw;
}


.second_menu {
  margin-left:0.9em;
  margin-right:0.9em;
}


.third_menu {
  margin-left:0.9em;
  margin-right:0.9em;
}


.fourth_menu {
  margin-left:0.9em;
  margin-right:0.9em;
}


.fifth_menu {
  margin-left:0.9em;
  margin-right:4.5vw;
}



.first-header {
  padding-left:5vw;
}

.third-header {
  padding-right:5vw;
}

