

#header {
background-color: black;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 8em;
		line-height: 8em;
		width: 100%;
		z-index: 10000;
}


#main-info{
margin-left:1em
margin-right:1em;
}