@charset "UTF-8";
@import url(font-awesome.min.css);




/* Basic */

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #444;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 1.65em;
	}

	a {
		color: #383b43;
		text-decoration: none;
	}

		a:active, a:hover {
			text-decoration: underline;
		}

	strong, b {
		color: #474747;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
		line-height:30px;
	}

	h1, h2, h3, h4, h5, h6 {
		color: white;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #858585;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		text-align: center;
		margin-bottom: 4em;
	}

		header.major h2 {
			font-size: 3em;
			margin-bottom: 0.5em;
		}

		header.major p {
			font-size: 1.5em;
		}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #474747;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: none;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #f4d000;
			box-shadow: 0 0 0 1px #383b43;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "пЃё";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #444;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(144, 144, 144, 0.075);
				border-radius: 4px;
				border: solid 1px rgba(144, 144, 144, 0.25);
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #f4d000;
			border-color: #f4d000;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #f4d000;
			box-shadow: 0 0 0 1px #383b43;
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #858585 !important;
		opacity: 1.0;
	}


/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px rgba(144, 144, 144, 0.25);
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #474747;
			font-size: 0.9em;
			font-weight: 700;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px rgba(144, 144, 144, 0.25);
		}

		table tfoot {
			border-top: solid 2px rgba(144, 144, 144, 0.25);
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px rgba(144, 144, 144, 0.25);
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}



/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #3cadd4;
		border-radius: 1px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #51b6d9;
			text-decoration: none;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #2da2ca;
			text-decoration: none;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
			color: #474747 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #858585;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #f4d000;    /* important */
			color: #3f3f3f !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #f2db54;
				color: black;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: #2c2f35;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #444 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

/* Header */

	body.landing #header {
		background-color: black;
		left: 0;
		position: relative;
		top: 0;
	}

		body.landing #header nav a {
			color: rgba(255, 255, 255, 0.5);
		}

	#header {
		position:relative;
		background-color: black;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 7em;
		line-height: 7em;
		width: 100%;
		z-index: 10000;
                border-bottom: 1px solid #f4d000;
		margin-top:0;
	}
		
		#header h1 {
			color: #ffffff;
			height: inherit;
			padding-left: 7em;
			line-height: 0.8em;
			position: absolute;
			top: 50%;
                        padding-top:10px;
  			margin: -50px 0 0 0;

		}
		
			#header h1 a {
				font-size: 1.25em;
			}
		

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 5em;
			
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
					color:white;
				}

				
				#header nav > ul > li > ul.submenu {		
					display:none;
					border-radius:2px;
					background-color:#f4d000;
					color:black; 
					padding-right:10px;
					padding-left:15px;
					padding-top:20px;
					padding-bottom:20px;
					line-height:30px;
					list-style-type: none;
	
				}
				
				#header nav > ul > li:hover > ul.submenu{
					
					display:block;
					position:absolute;
					top:6em;
					
					
				}

				#header nav > ul > li:hover > ul.submenu > li > a {
						text-decoration:underline;
						color:black;
					}
				#header nav > ul > li:hover > ul.submenu > li > a:hover {
						text-decoration:none;
						color:#3f3f3f;
					}

					#header nav > ul > li a {
						
						color: white;
						display: inline-block;
						text-decoration: none;
					}

						#header nav > ul > li a:active{
							color: white;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}
					 #header nav > ul > li a:hover {
						color:white;
					}

					#header nav > ul > li .button {
						background-color: #f4d000;
						color: #3f3f3f !important;
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
						border-radius:2px;
					}

						#header nav > ul > li .button:hover {
						background-color: #f2db54;
						color: black !important;
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}




/* Header at the main page */

	body.landing #headerx {
		background-color: black;
		left: 0;
		position: absolute;
		top: 0;
	}

		body.landing #headerx nav a {
			color: rgba(255, 255, 255, 0.5);
		}

	#headerx {
		position:absolute;
		background-color: #383b43;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 7em;
		line-height: 7em;
		width: 100%;
		z-index: 10000;
                border-bottom: 1px solid #f4d000;
		margin-top:0;
	}
		
		#headerx h1 {
			color: #ffffff;
			height: inherit;
			padding-left: 7em;
			line-height: 0.8em;
			position: absolute;
			top: 50%;
                        padding-top:10px;
  			margin: -50px 0 0 0;

		}
		
			#headerx h1 a {
				font-size: 1.25em;
			}
		

		#headerx nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 5em;
			
			vertical-align: middle;
		}

			#headerx nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#headerx nav > ul > li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
					color:white;
				}

				
				#headerx nav > ul > li > ul.submenu {		
					display:none;
					border-radius:2px;
					background-color:#f4d000;
					color:black; 
					padding-right:10px;
					padding-left:15px;
					padding-top:20px;
					padding-bottom:20px;
					line-height:30px;
					list-style-type: none;
	
				}
				
				#headerx nav > ul > li:hover > ul.submenu{
					
					display:block;
					position:absolute;
					top:6em;
					
					
				}

				#headerx nav > ul > li:hover > ul.submenu > li > a {
						text-decoration:underline;
						color:black;
					}
				#headerx nav > ul > li:hover > ul.submenu > li > a:hover {
						text-decoration:none;
						color:#3f3f3f;
					}

					#headerx nav > ul > li a {
						
						color: white;
						display: inline-block;
						text-decoration: none;
					}

						#headerx nav > ul > li a:active{
							color: white;
						}

					#headerx nav > ul > li:first-child {
						margin-left: 0;
					}
					 #headerx nav > ul > li a:hover {
						color:white;
					}

					#headerx nav > ul > li .button {
						background-color: #f4d000;
						color: #3f3f3f !important;
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
						border-radius:2px;
					}

						#headerx nav > ul > li .button:hover {
						background-color: #f2db54;
						color: black !important;
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#headerx .container {
			position: relative;
		}

			#headerx .container h1 {
				left: 0;
			}

			#headerx .container nav {
				right: 0;
			}


/* Banner */

	#banner {
		background-image: url(../images/tech.jpg);
		 position: relative; 
background-position:center center;

list-style-type: none; 
background-size: cover; 
color: #ffffff; 

text-align: center;
border-bottom: 1px solid #f4d000;
height:50vh;
	}

		#banner :last-child {
			margin-bottom: 0;
		}

		

/* Banner Тойота и Лексус, меняем только картинку */

#banner1 {
		position:relative;
		background-image: url(../images/toy_banner.jpg);
		background-position: center center;
		background-size: cover;
                height:50vh;
		color: #ffffff;
		
		
		text-align: center;
                border-bottom: 1px solid #f4d000;
	}

		#banner1 :last-child {
			margin-bottom: 0;
		}

		
/* Wrapper */

	.wrapper {
		padding: 6em 0em 4em;
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
		/* Style 3 Wrapper */
	}

		.wrapper.style1 {
			background-color: black; /* ЦВЕТ ФОНА ВТОРАЯ СЕКЦИЯ */
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			padding-right:0px;
			padding-left:0px;
		}

			.wrapper.style1 .box {
				background-color: #fff;
				padding: 3em 2.5em;
			}

				.wrapper.style1 .box h2, .wrapper.style1 .box h3, .wrapper.style1 .box h4, .wrapper.style1 .box h5, .wrapper.style1 .box h6 {
					color: #858585;
				}

		.wrapper.style2 .profiles {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			margin-bottom: 4em;
			padding-top: 4em;
		}

		.wrapper.style2 .profile {
			margin-bottom: 2em;
			text-align: left;
		}

			.wrapper.style2 .profile img {
				border-radius: 50%;
				float: left;
				margin-bottom: 1em;
				margin-right: 1em;
			}

			.wrapper.style2 .profile h4 {
				margin-bottom: 0;
				margin-top: 1em;
			}

		.wrapper.style2 footer {
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}

			.wrapper.style2 footer p {
				margin-bottom: 3em;
			}

		.wrapper.style3 {
			background-color: black;
			color: #ffffff;
			border-top: 1px solid #f4d000;
		}

			.wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 p {
				color: #ffffff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background-color: #fff;
				color: #444;
			}



/*slider */


			#slides{
   				position: relative; 
				background:black;

				list-style-type: none; 
				background-size: cover; 
				color: #ffffff; 
				padding-bottom:7em;
				text-align: center;
				border-bottom: 1px solid #f4d000;
				height:100vh;
			}


			#slides :last-child {
				margin-bottom: 0;
			}

			#slides h2 {
				color: #ffffff;
				font-size: 4em;
				line-height: 1.25em;
				padding-top:40vh;
				font-family: 'courier new';
			}

			#slides p {
				font-size: 1.5em;
				margin-bottom: 1.75em;
			}
		


			.slide{
   				position: absolute;
    				left: 0px;
    				top: 0px;
    				width: 100%;
    				height: 100%;
    
    				opacity: 0;
    				z-index: 1;

    				-webkit-transition: opacity 1s;
    				-moz-transition: opacity 1s;
    				-o-transition: opacity 1s;
    				transition: opacity 1s;
			}

			.showing{
   				 opacity: 1;
    				z-index: 2;
			}



/*
non-essential styles:
just for appearance; change whatever you want
*/



			.slide{
    
    				padding: 100px;
    				padding-top:0;
    				box-sizing: border-box;
    				background: #333;
    				color: #fff;
			}

			.slide:nth-of-type(1){

				background-position:center center;
    				background-image: url(../images/dark_tint.png), url(../images/s1.jpg);
				background-size:cover;
			}
			.slide:nth-of-type(2){
    				background-image: url(../images/dark_tint.png), url(../images/s2.jpg);
				background-size:cover;
			}
			.slide:nth-of-type(3){
    				background-image: url(../images/dark_tint.png), url(../images/s3.jpg);
				background-size:cover;
			}


/* decoration */

.red {
color:red;
}

.yellow_big{
color:#f4d000;
font-size:2em;
font-family:'courier new';
}


.white_big{
color:white;
font-size:2em;
font-family:'courier new';
}

.yellow{
color:#f4d000;
}

.yellowx{
font-size:1em;
color:#f4d000;
padding-bottom:30px;
}

.blue{
color:#095a9c;
}

.blue1{
color: #0e87ea;
}

.red1{
color: #d14c2b;
}



.unismall{
display:none;
}


#main_info{
padding-right:7vw;
padding-left:7vw;
text-align:justify;
}

#main_info h2{
text-align:center;
}

#main_info p{
padding-left:1vh;
padding-right:1vh;
color: #cacaca;
}


.toyota {
height:13vh;
width:auto;
}

.center {
  margin: 0 auto;
  width: 100%;
  background: black;
  padding: 20px;
  color: white;
}


#flex-container {
  width: 100%;
  height:auto;
  display: flex;
  flex-flow: row nowrap;
  text-align:justify;
}

#flex-container h3{
text-align:center;
}

.first {
  background: white;
  height: auto;
  flex-grow: 5;
width:50%;
  padding-top:20px;
  margin-right:25px;
border-radius:4px;
}

.second {
  background: white;
  height: auto;
  flex-grow: 5;
  padding-top:20px;
width:50%;
  margin-left:25px;
border-radius:4px;
}

.first p{
padding-right:33px;
padding-left:33px;
}

.second p{
padding-right:33px;
padding-left:33px;
}


#flex-container2 {
  width: 100%;
  height:auto;
  display: flex;
  flex-flow: row nowrap;
  text-align:center;
}

#flex-container2 h3{
text-align:center;
}

.first2 {
  background: white;
  height: auto;
  flex-grow: 5;
width:50%;
  padding-top:20px;
  margin-right:25px;
border-radius:4px;
}

.second2 {
  background: white;
  height: auto;
  flex-grow: 5;
  padding-top:20px;
width:50%;
  margin-left:25px;
border-radius:4px;
}

.first2 p{
padding-right:33px;
padding-left:33px;
}

.second2 p{
padding-right:33px;
padding-left:33px;
}

.second2 iframe{
  position: relative;
  left: 0;
  top: 0;
  margin-right:1em;
  margin-left:1em;
  width: 100%;
  height: 100%;
  margin-bottom:1em;
}


.img_tech{
height:25%;
}

.p_tech{
color: #cacaca;
}

/* footer */
#footer{
text-align:center;
width:auto;
border-top: 1px solid #f4d000;
background:#f4d000;
padding-right:1em;
padding-left:1em;
}

#footer p{
color:black;
padding-top:1em;
margin:0;
padding-bottom:2em;
}





#footer_main strong{
color:black;
}

#footer_main p {
color:black;
margin-top:0;
padding-top:0;
margin-bottom:0;
padding-bottom:1em;

}


.fp{
font-size:1.5em;
margin-bottom:0;
padding-bottom:0;
}

.fot{
margin-top:1em;
width:auto;
height:auto;
border-bottom: 1px solid black;
padding-bottom:20px;
}

.fot1{
display:none;

}

#footer_main {
width:10em;
display:inline-block;
margin-top:1em;
margin-right:3em;
margin-left:3em;
vertical-align:top;
height:100%;
}


#footer_main_x {
width:10em;
display:inline-block;
margin-top:1em;
margin-left:3em;
margin-right:3em;
vertical-align:top;
height:100%;

}

#footer_main_x strong{
color:black;
}

#footer_main_x p {
color:black;
margin-top:0;
padding-top:0;
margin-bottom:0;
padding-bottom:1em;
}


.share {
   
 width: auto;
  
  margin: 0 auto;
 
   padding: 10px;
   
 padding-left: 20px;
 
   background: transparent;

}







.social 
{
    
display: inline-block;
   
 width: 40px;
   
 height: 40px;
    
margin-right: 10px;
  
 
   vertical-align: middle;

}



.social-vk
{


background-image: url(../images/inst.png);
background-size:cover;
}



.social-inst 
{


background-image: url(../images/vk.png);
background-size:cover;
}



.social-fb {
display:none;
}

.white-gray{
color:#d0d0d0;
}



#footer1 {
background:#f4d000;
width:100%;
margin:0;
}

#footer1 p{
text-align:center;
color:black;
line-height:100px;
margin:0;
padding-right:1em;
padding-left:1em;
}


#flex-container1 {
  width: 100%;
  height:auto;
  display: flex;
  flex-flow: row nowrap;
text-align:justify;
  
 
}
#flex-container1 h3{
text-align:center;
}

#flex-container1 a{
text-decoration:underline;
}



.first1 {
  background: white;
  height: auto;
  flex-grow: 3;
width:33%;
  padding-top:20px;
  margin-right:0.5em;
border-radius:4px;
padding-right:0.9em;
padding-left:0.9em;
align:middle;
}

.first1 p {
padding-right:1em;
padding-left:1em;
}

.second1 {
  background: white;
  height: auto;
  flex-grow: 3;
  padding-top:20px;
width:33%;
  margin-left:0.5em;
margin-right:0.5em;
border-radius:4px;
padding-right:0.9em;
padding-left:0.9em;
align:middle;
}

.second1 p {
padding-right:1em;
padding-left:1em;
}

.third1 {
  background: white;
  height: auto;
  flex-grow: 3;
  padding-top:20px;
width:33%;

  margin-left:0.5em;
border-radius:4px;
padding-right:0.9em;
padding-left:0.9em;
align:middle;
}

.third1 p {
padding-right:1em;
padding-left:1em;
}


.third1 iframe{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 250px;
  margin-bottom:1em;
}



.number{
display:none;
}

#mainmenu{
display:none;
}
#mainmenu p{
display:none;
}


.left{
text-align:left;
margin-left:1em;
}



.def_img{
height:35%;
width:35%;
padding-left:0.7em;
padding-bottom:0.3em;

}

.def_img_1{
display:none;
}