

#header {
background-color: black;
		color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 8em;
		line-height: 8em;
		width: 100%;
		z-index: 10000;
}
#headerx nav{
display:none;
}

#main-info{
margin-left:1em
margin-right:1em;
}


.third-header{
padding-right:7vw;
}

.first-header{
padding-left:7vw;
}



.first_menu {
  margin-left:10em;
  margin-right:1.5vw;
}


.second_menu {
  margin-left:1.5em;
  margin-right:1.5vw;
}


.third_menu {
  margin-left:1.5em;
  margin-right:1.5vw;
}


.fourth_menu {
  margin-left:1.5em;
  margin-right:1.5vw;
}


.fifth_menu {
  margin-left:1.5em;
  margin-right:10vw;
}