<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script src="/static/js/slides.js"></script>
<meta name="theme-color" content="#f4d000">



		<noscript>
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">


		<!-- Header -->
			<header id="header">
				<h1><span class="white_big">Вы катаетесь</span> - <span class="yellow_big">мы чиним</span><br><em><span class="yellow">Ваши личные механики</span></em><br><em><span class="yellow">+79872909333; +78432674544</span></em></h1>

				<nav id="nav">
					<ul>
						<li><div id="mainmenu"><p>Меню</p></div></li>
						<li><a href="index">Главная</span></a></li>
						<li><a href="all" class="button special">Услуги</a>
							<ul class="submenu">
								 <li><a href="1">&bull;Ремонт ходовой</a></li>
								 <li><a href="2">&bull;Ремонт двигателя</a></li>
								 <li><a href="3">&bull;Ремонт карданов</a></li>
								 <li><a href="4">&bull;Ремонт рулевых систем</a></li>
								 <li><a href="5">&bull;Ремонт автоэлектроники</a></li>
								 <li><a href="6">&bull;Запасные части</a></li>
								 <li><a href="7">&bull;Адрес</a></li>
								 <li><a href="8">&bull;Контакты</a></li>

							</ul>
						</li>

						<li><a href="toyota">Toyota и Lexus</a></li>
						<li><a href="tech">Тех. обслуживание</span></a></li>





					</ul>
				</nav>
			</header>
		<!-- Banner -->










		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">


<div id="main_info">

<h2><span class="yellow">Ремонт автоэлектроники</span><br>&nbsp;</h2>

						<p> <img src="/static/images/5.webp"  class="def_img"align="right" vspace="5" hspace="5"> Сегодня автомобили в плане электронной составляющей мало напомина-

ют своих предков. Если раньше средний автолюбитель был способен самостоятельно провести осмотр и исправить основную долю мелких неисправ-

ностей, сегодня диагностика автоэлектрики и ее ремонт требуют соответствующей специальности. Автомобили все больше превращаются в сплав

большого компьютера и механических частей. И то и другое периодически

начинает давать сбой и может выйти из строя. Предотвратить это и привести ваш автомобиль в идеальное состояние – задача СТО «Унисервис».

У нас имеется профессиональное оборудование для ремонта автоэлектрики. Из-за сложности в эксплуатации и своей стоимости оно недоступно лю-

бителям.<br>

Не каждый сервис оснащен так хорошо, но мы считаем, что качество –

превыше всего! За 15 лет работы «Унисервис» наработал положительную

репутацию среди тысяч клиентов. И мы не собираемся рисковать ею в

угоду копеечной экономии.</p>
<p>&nbsp;</p>
						<p class="left">Доступные услуги:</p>
						<p class="left"><span class="yellow">&bull;</span> Корректировка пробега любых спидометров;<br>
						<span class="yellow">&bull;</span> Ремонт и программирование чипованных ключей;<br>
						<span class="yellow">&bull;</span> Восстановление систем безопасности (Airbag, SRS) после аварии;<br>
						<span class="yellow">&bull;</span> Переделка миль в километры, галлонов в литры, Фаренгейтов в Цельсии на американских автомобилях;<br>
						<span class="yellow">&bull;</span> Удаление катализаторов, программное отключение катализаторов, сажевых фильтров, перепрограммирование ЭБУ на EURO-2;<br>
						<span class="yellow">&bull;</span> Отключение мочевины – системы AdBlue;<br>
						<span class="yellow">&bull;</span> Ремонт электронных блоков и компонентов автомобиля и многое другое;<br>
						<span class="yellow">&bull;</span> Компьютерная диагностика любых автомобилей.<br>
						<p>&nbsp;</p>



</div>

					</header>
</section>


		<!-- Footer полный -->
			<div id="footer">





<div class="fot">

<div id="footer_main">

<p class="fp">Адрес</p>
<p><strong>Филиал 1</strong> - Казань, ул. Поперечно-Азинская, 18</p>
<p><strong>Филиал 2</strong> - Казань, ул. Гаврилова, 10а</p>
</div>




<div id="footer_main_x">

<p class="fp">Время работы</p>
<p><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
<strong>СБ, ВС:</strong> выходной</p>

</div>


<div id="footer_main_x">


<p class="fp">Контакты</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544</p>
<p>e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
<div class="share">

            <a class="social social-inst" href="https://vk.com/club133631867" target="_blank" rel="noopener"></a>

            <a class="social social-vk" href="https://www.instagram.com/uni_servis/" target="_blank" rel="noopener"></a>

            <a class="social social-fb" href="http://facebook.com" target="_blank" rel="noopener"></a>

        </div>


</div>

</div>


<!-- footer на мобильниках -->




<div class="fot1">
<p><strong>Филиал 1</strong> - Казань, ул. Поперечно-Азинская, 18<br>
<p><strong>Филиал 2</strong> - Казань, ул. Гаврилова, 10а</p>
<p>По будням - 9:00 - 18:00; СБ, ВС - выходные</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544<br>
e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
</div>
</div>




<div id="footer1">

<p> &copy; 2018 "Вы катаетесь, мы чиним" | Дизайн и верстка: <a href="https://vk.com/cr_pe" target="_blank" rel="noopener">Артем Хакимов</a> </p>
</div>


	</body>
</html>
