<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Унисервис</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

					<link rel="stylesheet" href="/static/css/skel.css" />
					<link rel="stylesheet" href="/static/css/style.css" />
					<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>


		<meta name="theme-color" content="#f4d000">


	</head>
	<body class="landing">


		<!-- Header -->
			<header id="header">
				<nav id="nav">
					<ul>
						<li><div id="mainmenu"><p>Меню</p></div></li>
						<li><a href="index">Главная</a></li>
						<li><a>Услуги</a>
							<ul class="submenu">
								 <li><a href="1">&bull;Ремонт ходовой</a></li>
								 <li><a href="2">&bull;Ремонт двигателя</a></li>
								 <li><a href="3">&bull;Ремонт карданов</a></li>
								 <li><a href="4">&bull;Ремонт рулевых систем</a></li>
								 <li><a href="5">&bull;Ремонт автоэлектроники</a></li>
								 <li><a href="6">&bull;Запасные части</a></li>
								 <li><a href="7">&bull;Адрес</a></li>
								 <li><a href="8">&bull;Контакты</a></li>

							</ul>
						</li>

						<li><a href="toyota">Toyota и Lexus</a></li>
						<li><a href="tech">Тех. обслуживание</a></li>
						<li class="button special"><a href="feedback">Отзывы</a></li>





					</ul>
				</nav>



<div id ="flex-container-header">


<div class="first-header"><p><strong>Вы катаетесь - мы чиним </strong></p></div>
<div class="second-header"><p><strong>Унисервис</strong></p></div>
<div class="third-header"><p><strong>+7 (987) 2 909 333 <br> +7 (843) 2 674 544</strong></p></div>
</div>







<div id= "flex-container_menu">
<div id="first_menu"><a href="index"><p>Главная</p></a></div>
<div id="second_menu"><a href="toyota"><p>Toyota и Lexus</p></a></div>
<div id="third_menu"><a href="tech"><p>Тех. Обслуживание</p></a></div>
<div id="fourth_menu"><p>Услуги</p>

<ul class="submenuu">
								 <li><a href="1">&bull;Ремонт ходовой</a></li>
								 <li><a href="2">&bull;Ремонт двигателя</a></li>
								 <li><a href="3">&bull;Ремонт карданов</a></li>
								 <li><a href="4">&bull;Ремонт рулевых систем</a></li>
								 <li><a href="5">&bull;Ремонт автоэлектроники</a></li>
								 <li><a href="6">&bull;Запасные части</a></li>
								 <li><a href="7">&bull;Адрес</a></li>
								 <li><a href="8">&bull;Контакты</a></li>

							</ul>

</div>

<div id="fifth_menu"><a href="feedback"><p>Отзывы</p></a></div>


</div>


			</header>

		<!-- Banner -->

<p>&nbsp;</p>
<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2><span class="yellow">Отзывы</span></h2>
						<p>Мы очень стараемся ради наших клиентов. Поэтому нам нужно знать о своих слабых сторонах, чтобы над ними работать. А ещё нам хочется слышать приятные слова - так мы понимаем, что стараемся не зря. Помогите нам в этом, оставив свой комментарий или пожелание. </p>
					</header>
				</div>
				<div class="container 50%">
					<form name="form">
						<input type="hidden" name="url" value="8">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Имя" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="e-mail" type="email">
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Сообщение" rows="6"></textarea>
							</div>

							<div class="12u$">
								<ul class="actions">
									<li><input value="Отправить" class="special big" type="button" onClick="Complete();"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>


<! --- для компутеров >

<div id="feedback-desktop-1">

	<div class="feed-1">
	<h1>"Мужики свое дело знают, работа вообще без нареканий. Многие автосервисы обещают быстро, качественнно и дешево, а тут не обещают а делают."</h1> <p>Олег, Toyota Camry.</p>
	</div>
	<div class="feed-2">
	<h1>"Мастера – мужики! Респект таким крутым ребятам, сделали все качественно и быстро! Доволен на все сто"</h1> <p>Владимир, Ford Kuga.</p>
	</div>
	<div class="feed-3">
	<h1> Lorem ipsum dolor sit amet </h1> <p>имя</p>
	</div>
</div>

<div id="feedback-medium">

	<div class="feed-med-1">
	<h1> Lorem ipsum dolor sit amet </h1> <p>имя</p>
	</div>
	<div class="feed-med-2">
	<h1> Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h1> <p>имя</p>
	</div>
</div>

<div id="feedback-desktop-2">

	<div class="feed-2-1">
	<h1> Lorem ipsum dolor sit amet  Duis aute irure dolor in reprehenderit in voluptate</h1> <p>имя</p>
	</div>
	<div class="feed-2-2">
	<h1> Lorem ipsum dolor sit amet </h1> <p>имя</p>
	</div>
	<div class="feed-2-3">
	<h1> Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h1> <p>имя</p>
	</div>
</div>


<div id="feedback-desktop-3">

	<div class="feed-3-1">
	<h1> Lorem ipsum dolor sit amet  Duis aute irure dolor in reprehenderit in voluptate</h1> <p>имя</p>
	</div>
	<div class="feed-3-2">
	<h1> Lorem ipsum dolor sit amet </h1> <p>имя</p>
	</div>
</div>



<div id="feedback-desktop-4">

	<div class="feed-4-1">
	<h1> Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h1> <p>имя</p>
	</div>
	<div class="feed-4-2">
	<h1> "Как-то раз услышал странный стук в двигателе. Сам в этом не разбуираюсь и остановиться посмотреть не могу. Рядом как раз был Унисервис. Заехал, по-быстрому определили в чем проблема. Сделали оперативно, а самое главное ценник не загибали как в обычных автосервисах. В общем, ребятам спасибо за работу, всем советую."</h1> <p>Василий, Nissan Almera.</p>
	</div>

</div>



<! ----- конец для компутеров >
<! ----- для мобильников в столбик >


	<div id="feed-mob-1">
	<h1>"Мужики свое дело знают, работа вообще без нареканий. Многие автосервисы обещают быстро, качественнно и дешево, а тут не обещают а делают."</h1> <p>Олег, Toyota Camry.</p>
	</div>

	<div id="feed-mob-2">
	<h1>"Мастера – мужики! Респект таким крутым ребятам, сделали все качественно и быстро! Доволен на все сто"</h1> <p>Владимир, Ford Kuga.</p>
	</div>

	<div id="feed-mob-3">
	<h1> Lorem ipsum dolor sit amet 3</h1> <p>имя</p>
	</div>

	<div id="feed-mob-4">
	<h1> Lorem ipsum dolor sit amet 4</h1> <p>имя</p>
	</div>

	<div id="feed-mob-5">
	<h1> Lorem ipsum dolor sit amet 5</h1> <p>имя</p>
	</div>

	<div id="feed-mob-6">
	<h1> Lorem ipsum dolor sit amet 6</h1> <p>имя</p>
	</div>

	<div id="feed-mob-7">
	<h1> Lorem ipsum dolor sit amet 7</h1> <p>имя</p>
	</div>

	<div id="feed-mob-8">
	<h1> Lorem ipsum dolor sit amet 8</h1> <p>имя</p>
	</div>

	<div id="feed-mob-9">
	<h1> "Как-то раз услышал странный стук в двигателе. Сам в этом не разбуираюсь и остановиться посмотреть не могу. Рядом как раз был Унисервис. Заехал, по-быстрому определили в чем проблема. Сделали оперативно, а самое главное ценник не загибали как в обычных автосервисах. В общем, ребятам спасибо за работу, всем советую."</h1> <p>Василий, Nissan Almera</p>
	</div>

	<div id="feed-mob-10">
	<h1></h1> <p>Василий, Nissan Almera.</p>
	</div>
		<!-- One -->


		<!-- Footer полный -->
			<div id="footer">





<div class="fot">

<div id="footer_main">

<p class="fp">Адрес</p>
<p>Казань<br>420088<br>ул. Поперечно-Азинская, 18</p>

</div>




<div id="footer_main_x">

<p class="fp">Время работы</p>
<p><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
<strong>СБ, ВС:</strong> выходной</p>

</div>


<div id="footer_main_x">


<p class="fp">Контакты</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544</p>
<p>e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
<div class="share">

            <a class="social social-inst" href="https://vk.com/club133631867" target="_blank" rel="noopener"></a>

            <a class="social social-vk" href="https://www.instagram.com/uni_servis/" target="_blank" rel="noopener"></a>

            <a class="social social-fb" href="http://facebook.com" target="_blank" rel="noopener"></a>

        </div>


</div>

</div>


<!-- footer на мобильниках -->




<div class="fot1">
<p>Казань, 420088, ул. Поперечно-Азинская, 18<br>

<p>По будням - 9:00 - 18:00; СБ, ВС - выходные</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544<br>
e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
</div>
</div>




<div id="footer1">
<p> &copy; 2018 "Вы катаетесь, мы чиним" <br> Дизайн и верстка: <a href="https://vk.com/cr_pe" target="_blank" rel="noopener">Артем Хакимов</a> <br>Backend: <a href ="https://t.me/nikion_sky">Никита Оскотский</a></p>
</div>



{% if msg ==1 %}
<script> alert('Сообщение отправлено') </script>
{% endif %}


	</body>

</html>
