<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Унисервис</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script src="/static/js/slides.js"></script>


		<meta name="theme-color" content="#f4d000">

		<noscript>
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">


		<!-- Header -->
			<header id="headerx">
				<h1><span class="white_big">Вы катаетесь</span> - <span class="yellow_big">мы чиним</span><br><em><span class="yellow">Ваши личные механики</span></em><br><em><span class="yellow">+79872909333; +78432674544</span></em></h1>

				<nav id="nav">
					<ul>
						<li><div id="mainmenu"><p>Меню</p></div></li>
						<li><a href="index" class="button special">Главная</a></li>
						<li><a href="all">Услуги</a>
							<ul class="submenu">
								 <li><a href="1">&bull;Ремонт ходовой</a></li>
								 <li><a href="2">&bull;Ремонт двигателя</a></li>
								 <li><a href="3">&bull;Ремонт карданов</a></li>
								 <li><a href="4">&bull;Ремонт рулевых систем</a></li>
								 <li><a href="5">&bull;Ремонт автоэлектроники</a></li>
								 <li><a href="6">&bull;Запасные части</a></li>
								 <li><a href="7">&bull;Адрес</a></li>
								 <li><a href="8">&bull;Контакты</a></li>

							</ul>
						</li>

						<li><a href="toyota">Toyota и Lexus</a></li>
						<li><a href="tech">Тех. обслуживание</a></li>





					</ul>
				</nav>
			</header>

		<!-- Banner -->




<section id="slides">


			<li class="slide showing"><h2><span class="yellow">Унисервис</span></h2>
				<p>15 лет опыта. Широкий спектр услуг. Лучшее качество - минимальные сроки.</p>
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


    			<li class="slide"><h2><span class="yellow">Унисервис</span></h2>
				<p>15 лет опыта. Широкий спектр услуг. Лучшее качество - минимальные сроки.</p>
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


   			<li class="slide"><h2><span class="yellow">Унисервис</span></h2>
				<p>15 лет опыта. Широкий спектр услуг. Лучшее качество - минимальные сроки.</p>
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


			<li class="slide"><h2><span class="yellow">Унисервис</span></h2>
				<p>15 лет опыта. Широкий спектр услуг. Лучшее качество - минимальные сроки.</p>
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


			<li class="slide"><h2><span class="yellow">Унисервис</span></h2>
				<p>15 лет опыта. Широкий спектр услуг. Лучшее качество - минимальные сроки.</p>
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>

			</section>






		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2><span class="yellow">Заезжайте к нам!</span></h2>
						<p><span class="white-gray">Всё очень просто - один звонок  <span class="yellow">   &nbsp; &nbsp; 2 909 333   &nbsp; &nbsp; </span>  и Вы в удобное для Вас время приезжаете к нам в сервис. Наши квалифицированные специалисты решают все проблемы с Вашим автомобилем. Мы ремонтируем только то, что действительно требует ремонта и никогда не навязываем дополнительные работы.</span></p>
					</header>

					<div id="flex-container1">
		<div class="first1">
			<h3><span class="blue"><br>О компании</span></h3>

<p><br>Наша фирма успешно занимается авторемонтом уже более 15 лет. Мы представляем весь спектр услуг для ремонта Вашего автомобиля, такие как плановое техническое обслуживание, диагностика, ремонт ходовой части и двигателей, кузовной ремонт, подбор запчастей и т. д. Мы специализируемся на ремонте машин марок Mercedes, VW, Audi, Toyota. Основная наша цель-наилучшее качество работ в минимальные сроки и персональная ответственность перед каждым клиентом. Мы работаем как с частными лицами , так и с организациями. Форма оплаты любая, удобная Вам.</p>
		</div>

		<div class="second1">
			<h3><span class="blue"><br>Услуги автосервиса</span></h3>

<p><br>&bull; Полная диагностика<br>
								&bull; Рулевая система и подвеска<br>
								&bull;Ремонт двигателя<br>
								&bull; Ремонт карданов<br>
								&bull; Замена масел<br>
								&bull; Ремонт тормозной системы<br>
								&bull; Ремонт рулевых реек<br>
								&bull; Ремонт турбин<br>
								&bull; Замена лобовых стёкол<br>
								&bull; Корректировка спидометров<br>
								&bull; Ремонт автоэлектроники<br>
								&bull; Автозапчасти в наличии<br>
								&bull; Услуги эвакуатора</p>
		</div>
<div class="third1">
			<h3><span class="blue"><br>Время работы</span></h3>

<p><br><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
								<strong>СБ, ВС:</strong> выходной</p>
								<p>+7 (987) 2 909 333<br>
								+7 (843) 267 45 44</p>
								<p>Казань, ул. Поперечно-Азинская 18</p>
								<p>e-mail: <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3e2d02d1d8810f3745411715d2ad4bb1aaed4b1486a43f9c8355a1d1657da4d6&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</div>
</div>

				</div>

				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2><span class="yellow">Обратная связь</span></h2>
						<p>Оставьте свое сообщение в форме ниже</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="/form" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Имя" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="e-mail" type="email">
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Сообщение" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Отправить" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

		<!-- Footer полный -->
			<div id="footer">





<div class="fot">

<div id="footer_main">

<p class="fp">Адрес</p>
<p><strong>Филиал 1</strong> - Казань, ул. Поперечно-Азинская, 18</p>
<p><strong>Филиал 2</strong> - Казань, ул. Гаврилова, 10а</p>
</div>




<div id="footer_main_x">

<p class="fp">Время работы</p>
<p><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
<strong>СБ, ВС:</strong> выходной</p>

</div>


<div id="footer_main_x">


<p class="fp">Контакты</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544</p>
<p>e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
<div class="share">

            <a class="social social-inst" href="https://vk.com/club133631867" target="_blank" rel="noopener"></a>

            <a class="social social-vk" href="https://www.instagram.com/uni_servis/" target="_blank" rel="noopener"></a>

            <a class="social social-fb" href="http://facebook.com" target="_blank" rel="noopener"></a>

        </div>


</div>

</div>


<!-- footer на мобильниках -->




<div class="fot1">
<p><strong>Филиал 1</strong> - Казань, ул. Поперечно-Азинская, 18<br>
<p><strong>Филиал 2</strong> - Казань, ул. Гаврилова, 10а</p>
<p>По будням - 9:00 - 18:00; СБ, ВС - выходные</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544<br>
e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
</div>
</div>




<div id="footer1">

<p> &copy; 2018 "Вы катаетесь, мы чиним" | Дизайн и верстка: <a href="https://vk.com/cr_pe" target="_blank" rel="noopener">Артем Хакимов</a> </p>
</div>


	</body>
</html>
