<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Унисервис</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

					<link rel="stylesheet" href="/static/css/skel.css" />
					<link rel="stylesheet" href="/static/css/style.css" />
					<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script src="/static/js/slides.js"></script>


		<meta name="theme-color" content="#f4d000">


	</head>
	<body class="landing">


		<!-- Header -->
			<header id="headerx">
				<nav id="nav">
					<ul>
						<li><div id="mainmenu"><p>Меню</p></div></li>
						<li><a href="index" class="button special">Главная</a></li>
						<li><a>Услуги</a>
							<ul class="submenu">
								 <li><a href="1">&bull;Ремонт ходовой</a></li>
								 <li><a href="2">&bull;Ремонт двигателя</a></li>
								 <li><a href="3">&bull;Ремонт карданов</a></li>
								 <li><a href="4">&bull;Ремонт рулевых систем</a></li>
								 <li><a href="5">&bull;Ремонт автоэлектроники</a></li>
								 <li><a href="6">&bull;Запасные части</a></li>
								 <li><a href="7">&bull;Адрес</a></li>
								 <li><a href="8">&bull;Контакты</a></li>

							</ul>
						</li>

						<li><a href="toyota">Toyota и Lexus</a></li>
						<li><a href="tech">Тех. обслуживание</a></li>





					</ul>
				</nav>


<div id ="flex-container-header">
<div class="first-header"><p><strong>Вы катаетесь -<br>мы чиним </strong></p></div>	
<div class="second-header"><p><strong>Унисервис</strong></p></div>	
<div class="third-header"><p><strong>+7 (987) 2 909 333<br>+7 (843) 2 674 544</strong></p></div>	
</div>





			

<div id= "flex-container_menu">
<div class="first_menu"><p>Главная</p></div>
<div class="second_menu"><p>Toyota и Lexus</p></div>
<div class="third_menu"><p>Обслуживание</p></div>
<div class="fourth_menu"><p>Услуги</p></div>
<div class="fifth_menu"><p>Отзывы</p></div>
</div>


			</header>

		<!-- Banner -->




<section id="slides">



			<li class="slide showing"> <h2><span class="yellow">&nbsp;</span></h2>
				  
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


    			<li class="slide"> <h2><span class="yellow">&nbsp;</span></h2>
				  
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


   			<li class="slide"> <h2><span class="yellow">&nbsp;</span></h2>
				  
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


			<li class="slide"> <h2><span class="yellow">&nbsp;</span></h2>
				  
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>


			<li class="slide"><h2><span class="yellow">&nbsp;</span></h2>
				  
				<div  class="number"><span class="yellow">+7 (987) 2 909 333; +7 (843) 2 674 544 </span></div>
			</li>

			</section>




		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2><span class="yellow">Заезжайте к нам!</span></h2>
						<p><span class="white-gray">Всё очень просто - один звонок  <span class="yellow">   &nbsp; &nbsp; 2 909 333   &nbsp; &nbsp; </span>  и Вы в удобное для Вас время приезжаете к нам в сервис. Наши квалифицированные специалисты решают все проблемы с Вашим автомобилем. Мы ремонтируем только то, что действительно требует ремонта и никогда не навязываем дополнительные работы.</span></p>
					</header>

					<div id="flex-container1">
		<div class="first1">
			<h3><span class="blue"><br>О компании</span></h3>

<p><br>Наша фирма успешно занимается авторемонтом уже более 15 лет. Мы представляем весь спектр услуг для ремонта Вашего автомобиля, такие как плановое техническое обслуживание, диагностика, ремонт ходовой части и двигателей, кузовной ремонт, подбор запчастей и т. д. Мы специализируемся на ремонте машин марок Mercedes, VW, Audi, Toyota. Основная наша цель-наилучшее качество работ в минимальные сроки и персональная ответственность перед каждым клиентом. Мы работаем как с частными лицами , так и с организациями. Форма оплаты любая, удобная Вам.</p>
		</div>

		<div class="second1">
			<h3><span class="blue"><br>Услуги автосервиса</span></h3>


								&bull; <a href="1">Ремонт ходовой</a><br>
								&bull; <a href="2">Ремонт двигателя</a><br>
								&bull; <a href="3">Ремонт карданов</a><br>
								&bull; <a href="4">Ремонт рулевых систем</a><br>
								&bull; <a href="5">Ремонт автоэлектроники</a><br>
								&bull; <a href="6">Запасные части</a><br>
								&bull; Ремонт турбин<br>
								&bull; Замена лобовых стёкол<br>
								&bull; Корректировка спидометров<br>
								&bull; Замена масла<br>
								&bull; Ремонт тормозной системы<br>
								&bull; Услуги эвакуатора</p>
		</div>
<div class="third1">
			<h3><span class="blue"><br>Время работы</span></h3>

<p><br><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
								<strong>СБ, ВС:</strong> выходной</p>
								<p>+7 (987) 2 909 333<br>
								+7 (843) 267 45 44</p>
								<p>Казань, ул. Поперечно-Азинская 18</p>
								<p>e-mail: <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A52bf6e488cdefff69a103bec04bf803ef7ad66d9a91d766f5e21a926256fec6b&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</div>
</div>

				</div>

				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2><span class="yellow">Обратная связь</span></h2>
						<p>Оставьте свое сообщение в форме ниже</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="/form" method="post">
						<input type="hidden" name="url" value="index">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Имя" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="e-mail" type="email">
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Сообщение" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Отправить" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

		<!-- Footer полный -->
			<div id="footer">





<div class="fot">

<div id="footer_main">

<p class="fp">Адрес</p>
<p>Казань<br>420088<br>ул. Поперечно-Азинская, 18</p>

</div>




<div id="footer_main_x">

<p class="fp">Время работы</p>
<p><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
<strong>СБ, ВС:</strong> выходной</p>

</div>


<div id="footer_main_x">


<p class="fp">Контакты</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544</p>
<p>e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
<div class="share">

            <a class="social social-inst" href="https://vk.com/club133631867" target="_blank" rel="noopener"></a>

            <a class="social social-vk" href="https://www.instagram.com/uni_servis/" target="_blank" rel="noopener"></a>

            <a class="social social-fb" href="http://facebook.com" target="_blank" rel="noopener"></a>

        </div>


</div>

</div>


<!-- footer на мобильниках -->




<div class="fot1">
<p>Казань, 420088, ул. Поперечно-Азинская, 18<br>

<p>По будням - 9:00 - 18:00; СБ, ВС - выходные</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544<br>
e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
</div>
</div>




<div id="footer1">
<p> &copy; 2018 "Вы катаетесь, мы чиним" <br> Дизайн и верстка: <a href="https://vk.com/cr_pe" target="_blank" rel="noopener">Артем Хакимов</a> <br>Backend: <a href ="https://t.me/nikion_sky">Никита Оскотский</a></p>
</div>



{% if msg ==1 %}
<script> alert('Сообщение отправлено') </script>
{% endif %}


	</body>

</html>
