.<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<meta name="theme-color" content="#f4d000">
		<noscript>
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">


		<!-- Header -->
			<header id="header">
				<h1><span class="white_big">Вы катаетесь</span> - <span class="yellow_big">мы чиним</span><br><em><span class="yellow">Ваши личные механики</span></em><br><em><span class="yellow">+79872909333; +78432674544</span></em></h1>

				<nav id="nav">
					<ul>
						<li><div id="mainmenu"><p>Меню</p></div></li>
						<li><a href="index">Главная</span></a></li>
						<li><a href="all">Услуги</a>
							<ul class="submenu">
								 <li><a href="1">&bull;Ремонт ходовой</a></li>
								 <li><a href="2">&bull;Ремонт двигателя</a></li>
								 <li><a href="3">&bull;Ремонт карданов</a></li>
								 <li><a href="4">&bull;Ремонт рулевых систем</a></li>
								 <li><a href="5">&bull;Ремонт автоэлектроники</a></li>
								 <li><a href="6">&bull;Запасные части</a></li>
								 <li><a href="7">&bull;Адрес</a></li>
								 <li><a href="8">&bull;Контакты</a></li>

							</ul>
						</li>

						<li><a href="toyota">Toyota и Lexus</span></a></li>
						<li><a href="tech" class="button special">Тех. обслуживание</a></li>





					</ul>
				</nav>
			</header>

		<!-- Banner -->


	<section id="banner">
</section>





		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
<p>&nbsp;</p>
						<h2><span class="yellow">Техническое обслуживание</span></h2>
						<p class="p_tech">Следите за своим автомобилем, регулярно проходите техническое обслуживание – в конечном итоге это окупится. </p>
					</header>


  <div class="flex-container">
		<div class="first">
			<h3><span class="blue"><br>Регламентное обслуживание</span></h3>

<p><br>Регламентное ТО автомобиля это неотъемлемый вид работ по поддержанию автомобиля в исправном состоянии и профилактики всевозможных поломок. Объём и стоимость регламентного ТО автомобиля в каждом случае разные. Все зависит от модели автомобиля, пробега и условий эксплуатации. Для расчёта цены нужно сообщить нам марку машины, винкод и текущий пробег. <br>Мы пользуемся оригинальным маслом и смазками фирмы <strong><span class="blue1">M</span><span class="red1">o</span><span class="blue1">bil™</span></strong> На нашем складе всегда имеются все необходимые расходные материалы, фильтры и запчасти для проведения ТО. </p>
		</div>
<p>&nbsp;</p>
		<div class="second">
			<h3><span class="blue"><br>Обслуживание ходовой части</span></h3>

<p><br>Если у вас возникли проблемы с ходовой частью автомобиля, а именно посторонние звуки, стуки в подвеске, неадекватное поведение машины на дороге и т.д., обращайтесь в <span class="blue">СТО Унисервис</span>. <br>Мы готовы в сжатые сроки вернуть ваш автомобиль в рабочее состояние, что бы он  радовал вас безупречной работой! <br>На нашем складе имеются все необходимые запчасти для ремонта основных марок автомобилей, эксплуатирующихся в нашем регионе. Мы осуществляем качественный и профессиональный ремонт амортизаторов, передних и задних пневмо стоек Airmatic (Аирматик), пневмоподушек и компрессоров для большинства моделей автомобилей <span class="blue">Mercedes, BMW, VW- Audi.</span> Так же осуществляем ремонт рулевых реек, насосов ГУР и деталей гидроподвески. В наличии есть ремонтные рейки на весь модельный ряд Mercedes. На все услуги и детали действует гарантия 6 месяцев.</p>
		</div>
</div>


				</div>
			</section>



		<!-- Three -->



		<!-- Footer полный -->
			<div id="footer">





<div class="fot">

<div id="footer_main">

<p class="fp">Адрес</p>
<p><strong>Филиал 1</strong> - Казань, ул. Поперечно-Азинская, 18</p>
<p><strong>Филиал 2</strong> - Казань, ул. Гаврилова, 10а</p>
</div>




<div id="footer_main_x">

<p class="fp">Время работы</p>
<p><strong>ПН - ПТ:</strong> c 9:00 до 18:00<br>
<strong>СБ, ВС:</strong> выходной</p>

</div>


<div id="footer_main_x">


<p class="fp">Контакты</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544</p>
<p>e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
<div class="share">

            <a class="social social-inst" href="https://vk.com/club133631867" target="_blank" rel="noopener"></a>

            <a class="social social-vk" href="https://www.instagram.com/uni_servis/" target="_blank" rel="noopener"></a>

            <a class="social social-fb" href="http://facebook.com" target="_blank" rel="noopener"></a>

        </div>


</div>

</div>


<!-- footer на мобильниках -->




<div class="fot1">
<p><strong>Филиал 1</strong> - Казань, ул. Поперечно-Азинская, 18<br>
<p><strong>Филиал 2</strong> - Казань, ул. Гаврилова, 10а</p>
<p>По будням - 9:00 - 18:00; СБ, ВС - выходные</p>
<p>+7 (987) 2 909 333<br>
+7 (843) 2 674 544<br>
e-mail:  <a href="mailto:2909333@mail.ru">2909333@mail.ru</a></p>
</div>
</div>




<div id="footer1">

<p> &copy; 2018 "Вы катаетесь, мы чиним" | Дизайн и верстка: <a href="https://vk.com/cr_pe" target="_blank" rel="noopener">Артем Хакимов</a> </p>
</div>


	</body>
</html>
